---
layout: default
title: "Archives"
permalink: /archives/
---
<style>
  .spacing_letters {
    letter-spacing: 0px;
  }

  .arrow_view {
    list-style-type:disclosure-closed;
  }

  li {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.tab {
  margin-left: 2rem;
}
</style>

{% assign num_posts = site.posts | size %}
{% assign num_tags = site.tags | size %}
{% assign num_cats = site.categories | size %}
{% assign num_cats_float = site.categories | size | times: 1.0 %}
{% assign num_tags_float = site.tags | size | times: 1.0 %}
{% assign avg_cats = num_posts | divided_by: num_cats_float %}
{% assign avg_tags = num_posts | divided_by: num_tags_float %}
{% assign square_sum_cat = 0 %}
{% for item in site.categories %}
    {% assign cat_count = item.last | size | times: 1.0 %}
    {% assign diff_sq = cat_count | minus: avg_cats %}
    {% assign diff_sq = diff_sq | times: diff_sq %}
    {% assign square_sum_cat = square_sum_cat | plus: diff_sq %}
{% endfor %}

{% assign square_sum_tag = 0 %}
{% for item in site.tags %}
    {% assign tag_count = item.last | size | times: 1.0 %}
    {% assign diff_sq = tag_count | minus: avg_tags %}
    {% assign diff_sq = diff_sq | times: diff_sq %}
    {% assign square_sum_tag = square_sum_tag | plus: diff_sq %}
{% endfor %}

{% assign tag_variance = square_sum_tag | divided_by: num_tags | round: 3 %}
{% assign cat_variance = square_sum_cat | divided_by: num_cats | round: 3 %}


<head>
  <title>{{ page.title }}</title>
  </head>
<div class="post" style="margin-top: -5%">
<h1>Archives <i class="fas fa-layer-group"></i> </h1>
<i>"We are what we think. All that we are arises with our thoughts. With our thoughts, we make the world."</i> (Buddha)
<h2 style="margin-top:1rem"><i>Café Statistics</i> <i class="fas fa-chart-bar"></i></h2>
<span style="color:#81F7F3"> <ul class="arrow_view">
  <li>&#9654;  &nbsp; Posts: {{ num_posts }} |</li>
  <li> Tags: {{ num_tags }} |</li>
  <li> Categories: {{ num_cats }}</li>
</ul></span>

<span style="color:#81F7F3"> <ul class="arrow_view">
  <li>&#9654;  &nbsp; Avg posts per category: {{ avg_cats }} |</li>
  <li> Avg posts per tag: {{ avg_tags }}</li>
</ul></span>

<span style="color:#81F7F3"> <ul class="arrow_view">
  <li> &#9654;  &nbsp; Category variance: {{ cat_variance }} |</li>
  <li> Tag variance: {{ tag_variance }}</li>
</ul></span>

<h2 style="margin-top:1em">Posts by Category and Tag <i class="fas fa-cat"></i> <i class="fas fa-magic"></i></h2>
<ul class="arrow_view">
<!--make link to category page-->
  <li>
    <!--<blockquote class="spacing_letters" style="margin-bottom:-10%; display:inline">-->
    &#9654;  &nbsp; <a href="{{ site.url }}/category/">Categories</a> |
  </li>

<!--make link to tag page-->
  <li>
    <a href="{{ site.url }}/tag/">Tags</a>
  </li>
</ul>

<!--make posts by year-->
<h2 style="margin-top:1em">Posts by Year <i class="far fa-clock"></i></h2>
<p class="tab">
&#9654;  &nbsp;
  {% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
      {% for year in postsByYear %}
      <a href="{{ site.url }}/archives/{{ year.name }}" style = "color:#01BAF9 "><code class="highligher-rouge"><nobr>{{ year.name }}</nobr></code></a>
      {% endfor %}
</p>
      <hr/>
</div>
