---
layout: default
title: "Archives"
permalink: /archives/
---
<style>
  .spacing_letters {
    letter-spacing: 0px;
  }

  .arrow_view {
    list-style-type:disclosure-closed;
  }

.tab {
  margin-left: 2rem;
}
</style>

{% assign num_posts = site.posts | size %}
{% assign num_tags = site.tags | size %}
{% assign num_cats = site.categories | size %}
{% assign num_cats_float = site.categories | size | times: 1.0 %}
{% assign num_tags_float = site.tags | size | times: 1.0 %}
{% assign avg_cats = num_posts | divided_by: num_cats_float %}
{% assign avg_tags = num_posts | divided_by: num_tags_float %}
{% assign square_sum_cat = 0 %}
{% for item in site.categories %}
    {% assign cat_count = item.last | size | times: 1.0 %}
    {% assign diff_sq = cat_count | minus: avg_cats %}
    {% assign diff_sq = diff_sq | times: diff_sq %}
    {% assign square_sum_cat = square_sum_cat | plus: diff_sq %}
{% endfor %}

{% assign square_sum_tag = 0 %}
{% for item in site.tags %}
    {% assign tag_count = item.last | size | times: 1.0 %}
    {% assign diff_sq = tag_count | minus: avg_tags %}
    {% assign diff_sq = diff_sq | times: diff_sq %}
    {% assign square_sum_tag = square_sum_tag | plus: diff_sq %}
{% endfor %}

{% assign tag_variance = square_sum_tag | divided_by: num_tags | round: 2 %}
{% assign cat_variance = square_sum_cat | divided_by: num_cats | round: 2 %}
{% assign var_avg = tag_variance | plus: cat_variance | divided_by: 2 | round: 2%}


<head>
  <title>{{ page.title }}</title>
  </head>
<div class="post" style="margin-top: -5%">
<h1>Archives <i class="fas fa-layer-group"></i> </h1>
<i>"We are what we think. All that we are arises with our thoughts. With our thoughts, we make the world."</i> (Buddha)
<h2 style="margin-top:1rem"><i>Café Statistics</i> <i class="fas fa-chart-bar"></i></h2>
<ul style="color:#81F7F3">
  <li>$\begin{pmatrix}\text{Posts} \\ \text{Tags} \\ \text{Categories}\end{pmatrix} = \begin{pmatrix} {{ num_posts }} \\ {{ num_tags }} \\ {{ num_cats }}\end{pmatrix}$</li>
</ul>

<ul style="color:#81F7F3">
  <li>$ \vec{\mu}_{posts} = \begin{pmatrix}\mu_{cat} \\ \mu_{tag}\end{pmatrix} = \begin{pmatrix}{{ avg_cats }} \\  {{ avg_tags }}\end{pmatrix}$</li>
</ul>

<ul style="color:#81F7F3">
  <li>$\begin{pmatrix}\sigma_{cat}^{2} & \tilde{\sigma}^{2}_{cat,tag} \\
    \tilde{\sigma}^{2}_{cat,tag} & \sigma_{tag}^{2}\end{pmatrix} = \begin{pmatrix} {{ cat_variance }} & {{ var_avg }} \\ {{ var_avg }} & {{ tag_variance }}\end{pmatrix} \\ {\Big| } \
    \text{Note: }\tilde{\sigma}^{2}_{cat,tag} \equiv \frac{\sigma_{cat}^{2} + \sigma_{tag}^{2}}{2}$</li>
</ul>

<h2 style="margin-top:1em">Posts by Category and Tag <i class="fas fa-cat"></i> <i class="fas fa-magic"></i></h2>
<ul class="arrow_view">
<!--make link to category and tag page-->
  <li>
    <a href="{{ site.url }}/category/">Categories</a> | <a href="{{ site.url }}/tag/">Tags</a>
  </li>
</ul>
<!--make posts by year-->
<h2 style="margin-top:1em">Posts by Year <i class="far fa-clock"></i></h2>
  <ul class="arrow_view">
    <li>
  {% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
      {% for year in postsByYear %}
      <a href="{{ site.url }}/archives/{{ year.name }}" style = "color:#01BAF9 "><code class="highligher-rouge"><nobr>{{ year.name }}</nobr></code></a>
      {% endfor %}
      </li>
  </ul>
      <hr/>
</div>
