---
layout: default
title: "Categories"
permalink: /category/
---

<head>
  <title>{{ page.title }}</title>
</head>
<h2>Category Archive <i class="fas fa-cat"></i></h2>
Purrrrr... Meow! Here are all of the cat-egories for this blog. Read on!
<hr/>
{% capture tempcategories %}
  {% for category in site.categories %}
    {{ category[1].size | plus: 1000 }}#{{ category[0] }}#{{ category[1].size }}
  {% endfor %}
{% endcapture %}
{% assign sortedtempcategories = tempcategories | split:' ' | sort | reverse %}
{% for tempcategory in sortedtempcategories %}
  {% assign categoryitems = tempcategory | split: '#' %}
  {% capture categoryname %}{{ categoryitems[1] }}{% endcapture %}
  <a href="{{ site.baseurl }}/category/{{ categoryname }}" style = "color: #181818"><code class="highligher-rouge"><nobr>{{ categoryname }}</nobr></code></a>
{% endfor %}
<hr/>
