title: Cocoa-nut Café # The title of the blog
author: Ramneek Narayan # Your name
email: ramneeknarayan@gmail.com # your email shown in the footer
baseurl: /myblog/
url: https://writerthethinker1.github.io # this is your site's root address.

description: > # this means to ignore newlines until "show_excerpts:"
  Welcome!

show_excerpts: true  # set to true to show excerpts on the homepage
paginate: 8
paginate_path: "/page:num"
permalink: ":year/:month/:day/:title/"
timezone: America/Los_Angeles
markdown: kramdown

# Moving date format
# refer to https://shopify.github.io/liquid/filters/date/ if you want to customize this
moving:
  avatar_url: "../pages/me.jpeg" # avatar in about page
  about_you: Hello! ツ # short description about you in about page
  date_format: "%b %d" # date format of posts in home page
  back_to: "Café Home" # In the post page, you have a back button above the title, you can custom the text by yourself.



  # generate social links in about page.
  social_links:
    twitter: NarayanRamneek
    github: writerthethinker1
    rss: RSS
    # dribbble:
   #facebook: Ramneek Narayan
    # flickr:
    # instagram:
    linkedin: ramneek-narayan-277001162
    # pinterest:
    # youtube:
    # youtube_channel:
    # youtube_channel_name:
    # telegram:
    # googleplus:
    # microdotblog:
    #reddit: prob_thinker
    #tumblr: r-thought-stuff

    # Mastodon instances
    # mastodon:
    # - username:
    #   instance:
    # - username:
    #   instance:



# Build settings
remote_theme: huangyz0918/moving # note, please use huangyz0918/moving if you want to publish to Github Pages.

collections:
  project:
    output: true
    permalink: /projects/:year/:month/:day/:title/


plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-paginate
