<h2>Category Archive</h2>
{% capture tempcategories %}
  {% for category in site.categories %}
    {{ category[1].size | plus: 1000 }}#{{ category[0] }}#{{ category[1].size }}
  {% endfor %}
{% endcapture %}
{% assign sortedtempcategories = tempcategories | split:' ' | sort | reverse %}
{% for tempcategory in sortedtempcategories %}
  {% assign categoryitems = tempcategory | split: '#' %}
  {% capture categoryname %}{{ categoryitems[1] }}{% endcapture %}
  <a href="{{ site.baseurl }}/category/{{ categoryname }}" style = "color: #514ADE"><code class="highligher-rouge"><nobr>{{ categoryname }}</nobr></code></a>
{% endfor %}
