div.sidenav {
  list-style-type: none;
  height: 100%;
  width: 27%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0%;
  background-color: #000;
  overflow-x: hidden;
  padding-top: 0px;
  text-align: center;
}

div.sidenav li a {
  padding: 0px 11px 3px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  color: #63E173;
  display: block;
}

div.sidenav li a:hover {
  color: #63E173;
}

div.sidenav li span:hover {
  color: #63E173;
}

/*FUTURE: modify padding for pretty view*/
@media screen and (max-width: 990px) {
  div.sidenav {
    width: 100%;
    height: auto;
    position: revert;
    margin-left: auto;
    text-align: center;
  }

  div.sidenav li a {
    float: none;
    padding: 15px;
    font-size: 17px;
  }

}

@media screen and (max-width: 400px) {
  div.sidenav  li a {
    text-align: center;
    float: none;
    margin-left: auto;
    padding: 10px;
    font-size: 17px;
  }
}
