---
layout: default
---

<h1>{{ page.title }} <i class="fas fa-cat"></i></h1>
<ul style="list-style-type:disclosure-closed">
{% for post in site.categories[page.category] %}
<li> <span style="margin-right:2px">{{ post.date | date: "%b %Y" }}</span> <blockquote style="margin-bottom:-10%; display:inline"><a href="{{ site.baseurl }}{{ post.url }}" style = "color: #ff8c00"><i>{{ post.title }} <i class="fas fa-meteor"></i> </i></a></blockquote><br>
  </li>
{% endfor %}
</ul>
<hr>

{% include category_archive.html %}
