<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{%- include head.html -%}
<!--the default layout for any page in the site as stated in the YAML, layout: default-->

<body style="padding: 0 0%">

<!--the sidebar-->
<div class="sidenav">
<p class="home-heading"><i><a class="black-link" href="{{ site.baseurl }}">Cocoa-nut Café</i></a>
  <div class="cookie_cutter"><ul class="social-media-list socialbtns"><li> <a class="socialbtns fa fa-cookie" href="{{ site.baseurl }}cookie-time"></a></li><i>Cookie time!</i></ul></div>
</p>
<p class="home-sub-heading"><i>{{- site.description | escape -}}</i></p>
<img src="{{ site.baseurl | escape}}/images/matcha-banana.jpg" />

<ul class="social-media-list socialbtns icon_closer">

  <li>
      <a class="socialbtns fa fa-layer-group" href="{{ site.baseurl }}archives/"
        ></a>Archive
  </li>

    {%- if site.author -%}
    <li>
    <a class="socialbtns fa fa-infinity" href="{{ site.baseurl }}about/"></a>About
    </li>
      {%- endif -%}
      {%- if site.email -%}
        <li>
            <a class="socialbtns fa fa-paper-plane" href="mailto:{{ site.email }}"
              ></a>Email
        </li>
        {%- endif -%}

        <li>
            <a class="socialbtns fa fa-dice" href="{{ site.baseurl }}projects/"
              ></a>Projects
        </li>

</ul>
<hr class="dramatic"/>

            {%- include social.html -%}


            <footer class="site-footer h-card" style="color:#ffffff; margin-top:-1rem"><i>Café Version: {{ site.time | date:"%Y.%-m.%-d:%H.%M.%S %Z"}}</i>  </footer>
            <div style="margin-top:-1rem">Proudly Hosted by Github <i class="fas fa-heart"></i></div>
</div>
<!--end sidebar-->
<!--the main page content (posts or list of them)-->
  <div class="cookie_jar">
    <head>
        <title>{{ page.title }}</title>
    </head>
      {{ content }}
  </div>
<!--end main page content-->
    {%- include footer.html -%}
</body>

<!--math support-->
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
   extensions: ["tex2jax.js"],
   tex2jax: {
     inlineMath: [ ['$','$'], ["\\(","\\)"] ],
     displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
     processEscapes: true
   },
   CommonHTML: { linebreaks: { automatic: true } },
  "HTML-CSS": { linebreaks: { automatic: true } },
   SVG: { linebreaks: { automatic: true } },
   TeX: { equationNumbers: { autoNumber: "AMS" },
           Macros: {card: "{\\text{card}}" }}
 });
</script>
<script src="//mathjax.rstudio.com/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>

</html>
