<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
        {%- include head.html -%}

<style>
.container {
	display: inline-block;
	margin-left: 25%;
  margin-top:-2.5%;
}

.styler {
  margin-top: -1%;
  margin-bottom: 3%;
}

@media screen and (max-width: 900px) {
	.container {
		display: inline-block;
		margin-left: 8%;
    margin-top: -5.5%;
	}

  .icon_closer {
    margin-top: 0%;
    margin-bottom: 0%;
  }

  .styler {
    margin-top: -1%;
    margin-bottom: 1%;
  }

}

</style>
    <body style="padding: 0 0%">
<div>
<ul class="sidenav">

<p class="home-heading"><a class="black-link" href="{{ site.url | relative_url}}"><i>Cocoa-nut Café</i> <i class="fas fa-cookie-bite"></i></a>
</p>
<p class="home-sub-heading"><i>{{- site.description | escape -}}</i></p>
<img src="{{ site.url | escape}}/images/matcha-banana.jpg" />

<ul class="social-media-list socialbtns icon_closer">

  <li>
      <a class="socialbtns fa fa-layer-group" href="{{ site.url }}/archives/"
        ></a>Archive
  </li>

    {%- if site.author -%}
    <li>
    <a class="socialbtns fa fa-infinity" href="{{ site.url }}/about/"></a>About
    </li>
      {%- endif -%}
      {%- if site.email -%}
        <li>
            <a class="socialbtns fa fa-paper-plane" href="mailto:{{ site.email }}"
              ></a>Email
        </li>
        {%- endif -%}

        <li>
            <a class="socialbtns fa fa-dice" href="{{ site.url }}/projects/"
              ></a>Projects
        </li>



</ul>
<hr class="styler"/>
            {%- include social.html -%}



</ul>
</div>
    <main class="page-content" aria-label="Content">
  <div class="container">
            {{ content }}
    </main>
</div>
        {%- include footer.html -%}
    </body>
</html>
