---
layout: default
---
<!--index.html is where the front (home) page of the site is-->
<!--this is a layout for it-->

<div class="home">

<h1 style="margin-top:0rem; margin-bottom:-1rem"><i>Posts</i> <i class="fas fa-mug-hot"></i> 1 + 1 = 1</h1>
<div style="margin-top: 1rem;margin-bottom: 0rem; margin-right:3rem"><blockquote><i>“If, as one fares, one does not find a companion who is better or
equal, let one resolutely pursue the solitary course; <b>there can be no
fellowship with the fool.</b>”</i> (Buddha)</blockquote></div>
<div class="pagination">
	<div id="pagination-demo"></div>
</div>
{%- if site.posts.size > 0 -%}
  <ul class="post-list" style="margin-top:0rem">
      {% for post in paginator.posts  %}
      {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
      {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

      {% if forloop.first %}
      <h2 id="{{ this_year }}-ref" class="post-year" style="margin-top:1rem">{{this_year}} <i class="fas fa-cookie-bite"></i> </h2>
      <ul id="post_mark">
      {% endif %}
      <!--the date of the post-->
      <li>
          {%- assign date_format = site.moving.date_format | default: "%b %-d, %Y" -%}
	  <span class="post-meta">
		  {{ post.date | date: date_format }}
      </span>
  <!--date ends here-->
  <!--the post link-->
	  <a class="black-link post-link-layout post-desc" href="{{ post.url | relative_url }}">
		  <i><blockquote style="margin-left:0%" class="post-desc quote-size">
      {{ post.title | escape }}  <i class="fas fa-meteor"></i></blockquote></i>
          </a>
	    </li>
    <!--link ends here-->
      {% if forloop.last %}
      </ul>
      {% else %}
          {% if this_year != next_year %}
          </ul>
	  <h2 id="{{ next_year }}-ref" class="post-year">{{next_year}} <i class="fas fa-cookie-bite"></i> </h2>
          <ul id="post_mark">
          {% endif %}
      {% endif %}
  {% endfor %}
  </ul>
  {%- endif -%}
<!-- Pagination links -->

<!--script that makes paginator work-->
 <script>

 var itemsCount = {{ paginator.total_pages }} * 10;

 var itemsOnPage = 10;

 var pagination2 = new Pagination({
    container: $("#pagination-demo"),
    showInput: true,
    showSlider: false,
    enhancedMode: false,
    maxVisibleElements: 9,
    inputTitle: "Go to page",
    pageClickUrl: function(num) { if (num != 1) {return "{{ site.baseurl }}/page" + num;}
                                      else {
                                       return "{{ site.baseurl }}/";
                                     }}
});
pagination2.make(itemsCount, itemsOnPage, {{ paginator.page }});
 </script>

</div>
