---
layout: default
---

<article
  class="post h-entry"
  itemscope
  itemtype="http://schema.org/BlogPosting"
>

  <head>
    <title>{{ page.title }}</title>
  </head>
  <header class="post-header">

    <h1 class="post-title p-name" itemprop="name headline" style="margin-bottom: .1%">
       ## {{ page.title | escape }} <i class="fas fa-meteor"></i>
    </h1>

 <span>
   
  {% for category in page.categories %}
    {% capture category_name %}{{ category }}{% endcapture %}
    <a href="{{ site.baseurl }}category/{{ category_name }}" style = "color: #514ADE"><tag class="highligher-rouge"><nobr>{{ category_name }}</nobr></tag>&nbsp;</a>
  {% endfor %}<i class="fas fa-cat"></i>
</span>
<br>

 <span>

   {% for tag in page.tags %}
     {% capture tag_name %}{{ tag }}{% endcapture %}
     <a href="{{ site.baseurl }}tag/{{ tag_name }}" style = "color:#DE693D "><tag class="highligher-rouge"><nobr>{{ tag_name }}</nobr></tag>&nbsp;</a>
  {% endfor %}  <i class="fas fa-magic"></i></span>
<br>

   <p class="post-meta">
      <time
        class="dt-published"
        datetime="{{ page.date | date_to_xmlschema }}"
        itemprop="datePublished"
      >
        {%- assign date_format = "%d/%m/%Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%} <span style="color:#fff">|</span>
      <span itemprop="author" itemscope itemtype="http://schema.org/Person"
        ><span class="p-author h-card" itemprop="name">{{
          page.author | escape
        }}</span></span
      >
      {%- endif -%}
    </p>
  </header>


  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>
</article>
